    .sedan button,
    .suv button,
    .luxury button {
        background-color: white;
        color: hsl(31, 77%, 52%);
        border-radius: 20px;
        padding: 0.7rem;
        position: relative;
        right: 1rem;
    }